<div class="position-relative">
  <div class="position-fixed buttonior-chat">
    <div class="d-flex align-items-center"[class.chat]="chat">
      <span class="me-2 bg-dark-color text-white-color round p-2 fs-8 lets-chat">Let's Chat</span>
      <a class="chat-icon text-white-color d-flex align-items-center justify-content-center"><i class="fs-4 fas fa-comments"></i><i class="fs-4 fas fa-plus"></i></a>
    </div>
    <div class="social-icons">
      <span class="radius d-flex justify-content-center align-items-center shadow telegram"><i class="fab fs-4  fa-telegram"></i></span>
      <span class="radius d-flex justify-content-center align-items-center shadow mail"><i class="fas fs-4  fa-envelope"></i></span>
      <span class="radius d-flex justify-content-center align-items-center shadow phone"><i class="fas fs-4  fa-phone"></i></span>
      <span class="radius d-flex justify-content-center align-items-center shadow messenger"><i class="fab fs-4  fa-facebook-messenger"></i></span>
      <span class="radius d-flex justify-content-center align-items-center shadow skype"><i class="fab fs-4  fa-skype"></i></span>
      <span class="radius d-flex justify-content-center align-items-center shadow whatsapp"><i class="fab fs-4  fa-whatsapp"></i></span>
      <span class="radius d-flex justify-content-center align-items-center shadow twitter"><i class="fab fs-4  fa-twitter"></i></span>
    </div>
  </div>
</div>
