.gallery-wrapper {
  // text-align: center;
  // margin-top: 50px;
  .ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
    width: 80% !important;
    margin: auto !important;
  }
  // ngx-gallery-thumbnails{
  //   width: 80% !important;
  //   margin: auto;
  // }
}

