.search{
  .search-menu {
    width: 25rem;
    height: 70vh;
    right: 0;
    top: 3.5rem;
    z-index: 1;
    .content{
      overflow-y: auto;
      height: calc(70vh - 100px);
    }
  }
  .search-content-icon{
    background-color: #f5f8fa;
    color: var(--text-main-color);
    padding: 10px;
  }
  .form-switch .form-check-input:checked {
    background-color: var(--bg-main-color);
    border-color: var(--bg-main-color);
  }
}

::-webkit-scrollbar-thumb {
  background: #f5f8fa !important;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: var(--bg-white-color) !important;
}
.search-item:hover{
  background-color: #f4f5fb;
  transition: all .3s ease-in-out;
}
