<div class="security">
  <div class="mt-4 round shad bg-white-color">
    <div class="d-sm-flex justify-content-between align-items-center px-4 pt-4 border-bottom">
      <h4 class="fs-5">Security Summary</h4>
      <div class="mt-sm-0 mt-3">
        <a class="btn pb-4 fw-bold fs-7" (click)="frame('month')"
              [ngClass]="{ activeBtn: activeCategory === 'month' }">12 Hours</a>
        <a class="btn pb-4 fw-bold fs-7" (click)="frame('day')"
              [ngClass]="{ activeBtn: activeCategory === 'day' }">Day</a>
            <a class="btn mx-2 pb-4 fw-bold fs-7" (click)="frame('week')"
              [ngClass]="{ activeBtn: activeCategory === 'week' }">Week</a>

      </div>
    </div>
    <div class="m-4">
      <div class="row">
        <div class="col-md-4">
          <div class="rates p-4 rounded mb-2 text-center">
            <p class="text-success-color fs-5 mb-2">User Sign-in</p>
            <p class="fs-1 fw-bold">36,899</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="rates p-4 rounded mb-2 text-center">
            <p class="text-confirm-color fs-5 mb-2">Admin Sign-in</p>
            <p class="fs-1 fw-bold">72</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="rates p-4 rounded mb-2 text-center">
            <p class="text-danger-color fs-5 mb-2">Failed Attempts</p>
            <p class="fs-1 fw-bold">291</p>
          </div>
        </div>

      </div>
      <div class="d-sm-flex justify-content-between align-items-center my-4">
        <h4 class="fs-5">Activity Chart</h4>
        <div class="mt-3 mt-sm-0 btnsac p-1 round">
          <a class="btn me-2 text-muted-color" (click)="categoryActive('agents')" [ngClass]="{ activeTwoBtn: categoryTwoActive === 'agents' }">Agents</a>
          <a class="btn text-muted-color" (click)="categoryActive('agents')" [ngClass]="{ activeTwoBtn: categoryTwoActive === 'clients' }" (click)="categoryActive('clients')">Clients</a>
        </div>
      </div>
      <div class="pb-4">
        <canvas id="myChart"></canvas>
      </div>

    </div>


</div>

<div class="mt-4 bg-white-color p-4 round shad ">
  <h4 class="text-muted-color mb-4 fs-5">Recent Alerts</h4>
  <app-owl-carousel-text [arrayList]="alerts"></app-owl-carousel-text>
    </div>

    <div class="mt-4 bg-white-color p-4 round shad ">
      <h4 class="text-muted-color mb-4 fs-5">Security Guidelines</h4>
          <app-owl-carousel-text [arrayList]="alerts"></app-owl-carousel-text>
        </div>

        <div class="bg-white-color round shad mt-4">
          <div class="d-md-flex justify-content-between align-items-center border-bottom p-4">
              <h3 class="fs-5">Stock Report</h3>
              <div class="d-flex me-3 align-items-center">
                <div class="general-dropdown me-4 mt-3">
                  <div class="dropdown d-flex">
                    <button
                      class="btn dropdown-toggle d-flex align-items-center text-dark-color fs-8 bg-light text-muted-color"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                    Show All <i class="fas fa-angle-down ms-4"></i>
                    </button>

                    <!-- <div class="dropdown-menu round border-0">
                      <div class="px-3">
                        <ul class="navbar-nav2">
                          <li>
                            <a class="dropdown-item round d-flex align-items-center">
                              <span>knkn</span>
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item round d-flex align-items-center">
                             <span>jjhj</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div> -->
                  </div>
                </div>
              <button class="btn bg-main-color border-0 text-white-color d-block mt-3">View All</button>

              </div>

          </div>

          <div class="table-content pt-0 p-4 table-responsive">
            <table class="table">
              <thead>
                <tr class="border-bottom  fs-8">
                  <th scope="col">Location</th>
                  <th scope="col">Status</th>
                  <th scope="col">Device</th>
                  <th scope="col">IP Address</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of tableContent ;let ii=index" [class.border-bottom]="ii<tableContent.length-1"class="text-muted-color fs-8">
                  <td>{{i.item}}</td>
                  <td> <span [class]="i.btnColor" class="round p-2 fs-9 fw-bold">{{i.status}}</span></td>
                  <td>{{i.device}}</td>
                  <td>{{i.ip}}</td>
                  <td>{{i.time}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="bg-white-color round shad my-4">
          <div class="d-md-flex justify-content-between align-items-center border-bottom p-4 ">
              <h3 class="fs-5">Stock Report</h3>
              <div class="d-flex me-3 align-items-center">
                <div class="general-dropdown me-4 mt-3">
                  <div class="dropdown d-flex">
                    <button
                      class="btn dropdown-toggle d-flex align-items-center text-dark-color fs-8 bg-light text-muted-color"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                    Show All <i class="fas fa-angle-down ms-4"></i>
                    </button>

                    <!-- <div class="dropdown-menu round border-0">
                      <div class="px-3">
                        <ul class="navbar-nav2">
                          <li>
                            <a class="dropdown-item round d-flex align-items-center">
                              <span>knkn</span>
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item round d-flex align-items-center">
                             <span>jjhj</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div> -->
                  </div>
                </div>
              <button class="btn bg-main-color border-0 text-white-color d-block mt-3">View All</button>

              </div>

          </div>

          <div class="table-content pt-0 p-4 table-responsive">
            <table class="table">
              <thead>
                <tr class="border-bottom  fs-8">
                  <th scope="col">Status</th>
                  <th scope="col">Operator</th>
                  <th scope="col">IP Address</th>
                  <th scope="col">Created</th>
                  <th scope="col">API Keys</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of tableTwoContent ;let ii=index" [class.border-bottom]="ii<tableTwoContent.length-1" class="text-muted-color fs-8">
                  <td> <span [class]="i.btnColor" class="round p-1 px-2 fs-9 fw-bold">{{i.status}}</span></td>
                  <td>{{i.item}}</td>
                  <td>{{i.ip}}</td>
                  <td>{{i.time}}</td>
                  <td>
                    <div class="d-flex justify-content-between align-items-center">
                      <p>{{i.api}}</p>
                      <a class="text-muted-color" ngxClipboard [cbContent]="i.api"><svg class="copy round" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.5" d="M18 2H9C7.34315 2 6 3.34315 6 5H8C8 4.44772 8.44772 4 9 4H18C18.5523 4 19 4.44772 19 5V16C19 16.5523 18.5523 17 18 17V19C19.6569 19 21 17.6569 21 16V5C21 3.34315 19.6569 2 18 2Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7857 7.125H6.21429C5.62255 7.125 5.14286 7.6007 5.14286 8.1875V18.8125C5.14286 19.3993 5.62255 19.875 6.21429 19.875H14.7857C15.3774 19.875 15.8571 19.3993 15.8571 18.8125V8.1875C15.8571 7.6007 15.3774 7.125 14.7857 7.125ZM6.21429 5C4.43908 5 3 6.42709 3 8.1875V18.8125C3 20.5729 4.43909 22 6.21429 22H14.7857C16.5609 22 18 20.5729 18 18.8125V8.1875C18 6.42709 16.5609 5 14.7857 5H6.21429Z" fill="currentColor"></path>
                      </svg></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
</div>
