<div class="statistics">
  <div class="container-fluid">
    <div class="shad bg-white-color round p-4">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="statistics-info mb-4 p-3 round">
            <div class="row">
              <div class="content col-7">
                <h6 class="fw-bold">Number of article</h6>
                <p class="fs-3 fw-bold my-2">3.137</p>
                <div class="d-flex">
                  <p class="me-3">more than last week</p>
                  <p class="text-success-color fw-bold"><i class="fas fa-arrow-up"></i> 2.3%</p>
                </div>
              </div>
              <div class="statistics-img col-5 d-flex align-items-end">
                <img src="assets/imgs/chart.jpg" class="w-100" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="statistics-info mb-4 p-3 round">
            <div class="row">
              <div class="content col-7">
                <h6 class="fw-bold">Solution clicks</h6>
                <p class="fs-3 fw-bold my-2">25.004</p>
                <div class="d-flex">
                  <p class="me-3">less than last week</p>
                  <p class="text-danger-color fw-bold">2.3%</p>
                </div>
              </div>
              <div class="statistics-img col-5 d-flex align-items-end">
                <img src="assets/imgs/chart2.jpg" class="w-100" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="statistics-info mb-4 p-3 round">
            <div class="row">
              <div class="content col-7">
                <h6 class="fw-bold">Article views</h6>
                <p class="fs-3 fw-bold my-2">17.500</p>
                <div class="d-flex">
                  <p class="me-3">less than last week</p>
                  <p class="text-danger-color fw-bold"><i class="fas fa-arrow-down"></i> 2.3%</p>
                </div>
              </div>
              <div class="statistics-img col-5 d-flex align-items-end">
                <img src="assets/imgs/chart.jpg" class="w-100" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="statistics-info mb-4 p-3 round">
            <div class="row">
              <div class="content col-7">
                <h6 class="fw-bold">Number of Employees</h6>
                <p class="fs-3 fw-bold my-2">3.137</p>
                <div>
                  <p class="d-flex"><span class="d-flex align-items-center text-success-color fw-bold me-2"><i
                        class="fa-solid fa-circle  active me-1"></i> 185</span> Online Now</p>
                </div>
              </div>
              <div class="statistics-img col-5 d-flex align-items-center justify-content-end">
                <div class="me-3 statistics-icon d-flex justify-content-center align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                    class="bi bi-people" viewBox="0 0 16 16">
                    <path
                      d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="statistics-info mb-4 p-3 round">
            <div class="row">
              <div class="content col-7">
                <h6 class="fw-bold">Search times</h6>
                <p class="fs-3 fw-bold my-2">147.654</p>
                <div class="d-flex">
                  <p class="me-3">more than last week</p>
                  <p class="text-success-color fw-bold"><i class="fas fa-arrow-up"></i> 2.3%</p>
                </div>
              </div>
              <div class="statistics-img col-5 d-flex align-items-end">
                <img src="assets/imgs/chart.jpg" class="w-100" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="statistics-info mb-4 p-3 round">
            <div class="row">
              <div class="content col-7">
                <h6 class="fw-bold">Number of solutions</h6>
                <p class="fs-3 fw-bold my-2">3.137</p>
                <div>
                  <p class="d-flex"><span class="d-flex align-items-center text-success-color fw-bold me-2">1957</span>
                    active solution</p>
                </div>
              </div>
              <div class="statistics-img col-5 d-flex align-items-center justify-content-end">
                <div class="me-3 statistics-icon d-flex justify-content-center align-items-center">
                  <i class="fa-regular fa-lightbulb fs-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="m-0">
      <div class="chart">
        <div class="d-sm-flex justify-content-between align-items-center my-3">
          <h5 class="fw-bold">Statistic of articles views</h5>
          <div>
            <mat-form-field class="me-3">
              <input matInput [matDatepicker]="picker" placeholder="Custom calendar header">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button class="btn btn-outline-dark" (click)="frame('day')"
              [ngClass]="{ activeBtn: activeCategory === 'day' }">day</button>
            <button class="btn btn-outline-dark mx-2" (click)="frame('week')"
              [ngClass]="{ activeBtn: activeCategory === 'week' }">week</button>
            <button class="btn btn-outline-dark" (click)="frame('month')"
              [ngClass]="{ activeBtn: activeCategory === 'month' }">month</button>
          </div>
        </div>
        <canvas id="chart"></canvas>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
