<div class="billing">
  <div class="mt-4 round shad bg-white-color p-4">
      <div class="alert alert-warn d-sm-flex align-items-center p-4">
        <i class="fas fa-circle-exclamation me-3 fs-3 text-warning-color"></i>
        <div>
          <h4 class="fs-5 mb-2 text-dark-color">We need your attention!</h4>
          <p class="text-muted-color">Your payment was declined. To start using tools, please <span class="text-main-color fw-bold">Add Payment Method</span>.</p>
        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <div class="mt-3">
            <h4 class="fs-5 mb-2 text-dark-color">Active until Dec 09, 2022</h4>
          <p class="text-muted-color">We will send you a notification upon Subscription expiration</p>
          </div>
          <div class="mt-5">
            <h4 class="fs-7 mb-2 text-dark-color">$24.99 <span class="text-muted-color">Per Month</span></h4>
          <p class="text-muted-color">Extended Pro Package. Up to 100 Agents & 25 Projects</p>
          </div>
        </div>
        <div class="col-md-6">

            <div class="mt-4">
              <div class="d-flex justify-content-between mb-2">
                <p class="fs-7 fw-bold">Users</p>
                <p class="fs-7 fw-bold">
                  86 of 100 Used</p>
              </div>
              <div class="progress">
                <div class="progress-bar w-75" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="text-muted-color mt-2">14 Users remaining until your plan requires update</p>
            </div>
            <div class="mt-4 d-flex justify-content-end">
              <button class="btn rejected me-2">Cancel Subscription</button>
              <button class="btn bg-main-color text-white-color">Upgrade Plan</button>
            </div>

        </div>
      </div>
  </div>

  <div class="mt-4 round shad bg-white-color">
    <div class="d-flex justify-content-between align-items-center border-bottom px-4 pt-4">
      <h4 class="fs-5">Payment Methods</h4>
    <div>
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active pb-4 text-muted-color" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Credit / Debit Card
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link pb-4 text-muted-color" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Paypal</a>
        </li>
      </ul>
    </div>
    </div>
    <div class="p-4">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active pb-4" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
          <h4 class="fs-5 pb-4">My Cards</h4>
          <div class="row">
            <div class="col-lg-6 ">
              <div class="mb-3 d-xl-flex  justify-content-between align-items-center payment-card round p-4">
                <div>
                  <h5 class="fs-5">Marcus Morris <span class="ms-1 fs-9 px-2 py-1 success round">Primary</span></h5>

                  <div class="d-flex align-items-center mt-3">
                    <img src="assets/imgs/visa.svg" class="me-3" alt="visa">
                    <div>
                      <h5 class="fs-5">Visa **** 1679</h5>
                      <p class="text-muted-color mt-1">Card expires at 09/24</p>
                    </div>
                  </div>
                </div>
                <div class="mt-3 mt-xl-0 ">
                  <button class="btn btn-light text-muted-color me-2">Delete</button>
                  <button class="btn btn-light text-muted-color">Edit</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3 d-xl-flex justify-content-between align-items-center payment-card round p-4">
                <div>
                  <h5 class="fs-5">Jacob Holder</h5>

                  <div class="d-flex align-items-center mt-3">
                    <img src="assets/imgs/american-express.svg" class="me-3" alt="visa">
                    <div>
                      <h5 class="fs-5">Mastercard **** 2040</h5>
                      <p class="text-muted-color mt-1">Card expires at 10/22</p>
                    </div>
                  </div>
                </div>
                <div class="mt-3 mt-xl-0">
                  <button class="btn btn-light text-muted-color me-2">Delete</button>
                  <button class="btn btn-light text-muted-color">Edit</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-xl-flex justify-content-between align-items-center payment-card round p-4 mb-3">
                <div>
                  <h5 class="fs-5">Jhon Larson</h5>

                  <div class="d-flex align-items-center mt-3">
                    <img src="assets/imgs/mastercard.svg" class="me-3" alt="visa">
                    <div>
                      <h5 class="fs-5">Mastercard **** 1290</h5>
                      <p class="text-muted-color mt-1">Card expires at 03/23</p>
                    </div>
                  </div>
                </div>
                <div class="mt-3 mt-sm-0">
                  <button class="btn btn-light text-muted-color me-2">Delete</button>
                  <button class="btn btn-light text-muted-color">Edit</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="alert d-xl-flex align-items-center p-4 justify-content-between align-items-center alert-confirm">

                <div>
                  <h4 class="fs-5 mb-2 text-dark-color mt-2">Important Note!</h4>
                  <p class="text-muted-color me-3 mb-2">Please carefully read <a class="text-main-color fw-bold lh-base"> Product Terms </a> adding your new payment card</p>
                </div>

                <button class="btn bg-main-color border-0 me-3 text-white-color px-3 py-2 fs-7 mt-3 mt-xl-0">Add_Card</button>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
          <h5 class="fs-5 mb-2">My Paypal</h5>
          <p class="text-muted-color">To use PayPal as your payment method, you will need to make pre-payments each month before your bill is due.</p>

        <div class="w-50 mt-2">
          <mat-form-field >
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option>jkjk</mat-option>
              <mat-option>jkjk</mat-option>
              <mat-option>jkjk</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button class="btn bg-main-color px-3 py-2 text-white-color mt-3">Pay with Paypal</button>
        </div>
      </div>

    </div>
  </div>

  <div class="round shad bg-white-color mt-4">
      <h4 class="fs-5 border-bottom p-4">Billing Address</h4>
      <div class="p-4">
        <div class="row">
          <div class="col-lg-6 ">
            <div class="mb-3 d-md-flex justify-content-between align-items-center payment-card round p-4">
              <div class="row">
                <div class="col-md-8">
                  <h5 class="fs-7">Address 1 <span class="ms-1 fs-9 px-2 py-1 success round">Primary</span></h5>
                  <p class="text-muted-color me-4 mt-2 lh-base">Ap #285-7193 Ullamcorper Avenue
                    Amesbury HI 93373
                    US</p>
                </div>
                <div class="col-md-4 mt-3 mt-md-0 d-flex justify-content-md-end justify-content-start align-items-center">
                  <button class="btn btn-light text-muted-color h-fit-content me-2">Delete</button>
                  <button class="btn btn-light text-muted-color h-fit-content">Edit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 ">
            <div class="mb-3 d-md-flex justify-content-between align-items-center payment-card round p-4">
              <div class="row">
                <div class="col-md-8">
                  <h5 class="fs-7">Address 2</h5>
                  <p class="text-muted-color me-4 mt-2 lh-base">Ap #285-7193 Ullamcorper Avenue
                    Amesbury HI 93373
                    US</p>
                </div>
                <div class="col-md-4 mt-3 mt-md-0 d-flex justify-content-md-end justify-content-start align-items-center">
                  <button class="btn btn-light text-muted-color h-fit-content me-2">Delete</button>
                  <button class="btn btn-light text-muted-color h-fit-content">Edit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 ">
            <div class="mb-3 d-md-flex justify-content-between align-items-center payment-card round p-4">
              <div class="row">
                <div class="col-md-8">
                  <h5 class="fs-7">Address 3</h5>
                  <p class="text-muted-color me-4 mt-2 lh-base">Ap #285-7193 Ullamcorper Avenue
                    Amesbury HI 93373
                    US</p>
                </div>
                <div class="col-md-4 mt-3 mt-md-0 d-flex justify-content-md-end justify-content-start align-items-center">
                  <button class="btn btn-light text-muted-color h-fit-content me-2">Delete</button>
                  <button class="btn btn-light text-muted-color h-fit-content">Edit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 ">
            <div class="mb-3 d-md-flex justify-content-between align-items-center round p-4 alert alert-confirm">
              <div class="row">
                <div class="col-md-8">
                  <h5 class="fs-7">This is a very important note!</h5>
                  <p class="text-muted-color me-4 mt-2 lh-base">Writing headlines for blog posts is much science and probably cool audience</p>
                </div>
                <div class="col-md-4 mt-3 mt-md-0 d-flex justify-content-md-end justify-content-start align-items-center">
                  <button class="btn bg-main-color text-white-color h-fit-content me-2">New Address</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
</div>

<div class="mt-4 round shad bg-white-color">
  <div class="d-sm-flex justify-content-between align-items-center px-4 pt-4 border-bottom">
    <h4 class="fs-5">Security Summary</h4>
    <div class="mt-sm-0 mt-3">
      <a class="btn pb-4 fw-bold text-muted-color fs-7" (click)="frame('month')"
            [ngClass]="{ activeBtn: activeCategory === 'month' }">Month</a>
      <a class="btn pb-4 fw-bold fs-7 text-muted-color" (click)="frame('day')"
            [ngClass]="{ activeBtn: activeCategory === 'day' }">Year</a>
          <a class="btn mx-2 pb-4 fw-bold fs-7 text-muted-color" (click)="frame('week')"
            [ngClass]="{ activeBtn: activeCategory === 'week' }">All Time</a>

    </div>
  </div>
  <div class="m-4">
    <div class="table-content pt-0 table-responsive">
      <table class="table">
        <thead>
          <tr class="border-bottom text-muted-color fs-8">
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Invoice</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of tableContent;let ii=index" class="text-muted-color fs-8" [class.border-bottom]="ii<tableContent.length-1">
            <td>{{i.item}}</td>
            <td> <span [class]="i.btnColor" class="round p-2 fs-9 fw-bold">{{i.status}}</span></td>
            <td>{{i.device}}</td>
            <td>{{i.ip}}</td>
            <td>{{i.time}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>





</div>
