<div class="general-modal">

  <div class="text-start">
    <h5 class="fs-5">Email verification</h5>
    <p class="text-muted-color mt-2 lh-base">Enter the code we just send on your mobile phone <span
        class="fw-bold text-main-color">xdash@xdash.com</span></p>
  </div>

  <div class="my-4">
    <div class="row g-0">
      <div class="col-md-3">
        <input class="w-75 form-control" type="text" #txt1 maxlength="1" (keyup)="move($event,'',txt1,txt2)">
      </div>
      <div class="col-md-3">
        <input class="w-75 form-control" type="text" #txt2 maxlength="1" (keyup)="move($event,txt1,txt2,txt3)">
      </div>
      <div class="col-md-3">
        <input class="w-75 form-control" type="text" #txt3 maxlength="1" (keyup)="move($event,txt1,txt2,txt4)">
      </div>
      <div class="col-md-3">
        <input class="w-75 form-control" type="text" #txt4 maxlength="1" (keyup)="move($event,txt1,txt2,'')">
      </div>
    </div>
  </div>

  <div class="text-center">
    <p class="text-muted-color mb-4">
      Don't receive the code
      <a class="text-main-color fw-bold mx-2" (click)="onNoClick()">
        Resend
      </a>
    </p>
    <a class="text-white-color fw-bold bg-main-color round px-4 py-2" (click)="goToNewPassword()">
      Ok
    </a>
  </div>

</div>
