.login{
  background-color:#edf0f5;
  .logo{
    width: 45px;
  }
  h2{
    font-family: 'Oleo Script Swash Caps', cursive;
  }
  .bg-form-login {
    background-color: #f3f4f9;
    border-radius: 10px;
  }


  .or{
    color: #ccc;
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
      background-color: var(--primary-color);
      width: 46%;
      height: .8px;
    }
    &:after{
      content: "";
      position: absolute;
      right: 0;
      top: 9px;
      background-color: var(--primary-color);
      width: 46%;
      height: .8px;
    }

  }
  .google{
    background-color: #f3f6f9;
    img{
      width: 20px;
    }
  }
}


.border-l{
border-left:0
}
.border-r{
  border-right:0;
  }


// .tel .was-validated .form-control:invalid, .form-control.is-invalid {}
// .tel .was-validated .form-control:valid, .form-control.is-valid {
//   padding: 0 !important;
// }

// .pho .was-validated .form-control:invalid, .form-control.is-invalid {
//   padding: 0 !important;
// }

#spinner {
	-webkit-animation: frames 1s infinite linear;
	animation: frames 1s infinite linear;
	background: transparent;
	border: .5vw solid var(--bg-white-color);
	border-radius: 100%;
	border-top-color: var(--bg-main-color);
	width: 5vw;
	height: 5vw;
	opacity: .6;
	padding: 0;
	position: absolute;
	z-index: 999;
}
@keyframes frames {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
  }
}


#pause {
	display: block;
	background:
		rgba(0, 0, 0, 0.66)
		no-repeat
		0 0;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}

#spinner {
  // right: 10px;
  left: 56%;
  top: 35%;
-webkit-animation: frames 1s infinite linear;
animation: frames 1s infinite linear;
background: transparent;
border: .2vw solid #edf0f5;
border-radius: 100%;
border-top-color: var(--bg-main-color);
width: 1vw;
height: 1vw;
opacity: 1;
padding: 0;
position: absolute;
z-index: 999;
}
@keyframes frames {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(359deg);
transform: rotate(359deg);
}
}
