<div class="login p-5 d-flex justify-content-center text-center position-relative min-vh-100 padding-small-0">
  <div class="container-fluid bg-form-login d-flex justify-content-center align-items-center">
    <div class="form-box position-relative m-auto w-100">
      <div class="content">
        <h2 class="text-center fs-1 fw-bold text-second-color d-flex align-items-center justify-content-center py-3">
          <img class="logo scaleX-rtl me-1" src="assets/imgs/logo.svg" alt="logo" /> XDash
        </h2>
        <div class="row  d-flex justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12">
            <form [formGroup]="confirmPasswordForm" (ngSubmit)="showDialog()"
              class="form-content bg-white-color shad rounded p-4 p-xl-5 p-md-4 p-sm-3 p-3">
              <div class="rejected p-3 tound text-start">

                <p class="lh-sm fs-7">Enter <span class="fw-bold">your email</span> to send <span class="fw-bold">Verify
                    Code</span> to continue.</p>
              </div>
              <div class="mt-4">
                <label for="email" class="form-label d-block text-start">
                  {{"form.email"|translate}}
                </label>
                <input type="email" class="form-control" formControlName="email"
                  [class.is-invalid]="(confirmPasswordFormControls['email'].touched || confirmPasswordFormControls['email']?.dirty) && confirmPasswordFormControls['email']?.invalid"
                  [class.is-valid]="confirmPasswordFormControls['email']?.valid && confirmPasswordFormControls['email']?.touched">
                <div id="emailHelp" class="form-text d-block text-start text-danger"
                  [class.d-none]="confirmPasswordFormControls['email']?.valid || confirmPasswordFormControls['email']?.untouched"
                  *ngIf="confirmPasswordFormControls['email']?.errors?.['email']">
                  Email required.
                </div>
              </div>

              <button type="submit" class="mt-4 btn btn-solid-main w-100" [disabled]="confirmPasswordForm?.invalid">
                Save
                <div id="spinner" *ngIf="isLoading"></div>
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
