.footer{
  width: calc(100% - 5rem);
  margin-left: 5rem;
  z-index: 1;
  transition: all .5s ease;
  background-color: #ffffff;
  position: relative;
  bottom: 0;
}

.head-trimmed{
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem !important;
}
.head-md-screen{
  width: calc(100% - 5rem);
  margin-left: 5rem !important;
}
