.profile-info{
  .profile-img{
    .online{
      width: 20px;
    height: 20px;
    right: -10px;
    border: 4px solid #fff;
    bottom: 21%;
    }
  }
  .progress{
    height: .4rem;
  }
  .rates{
    border: 1px dashed #ccc;
    .rate-img{
      width: 50px;
    }
  }
  .nav{
    .nav-item{
      .nav-link{
        color: var(--muted);
        font-size: 16px;
      }
    }
  }
  .active-link{
    color: var(--text-main-color);
  }
  .is-active {
    color: var(--text-main-color) !important;
    background-color: transparent;
    border-bottom: 2px solid var(--bg-main-color);
    border-radius: 0;

  }
  .progress-bar{
    background-color: var(--bg-main-color);
  }
  #myChart{
    height: 360px;
  }
  .order-details{
    height: 29rem;
    overflow-y: auto;
  }
  table > :not(caption) > * > * {
    padding: 1.2rem 0.5rem !important;
  }
  .table-content{
    overflow-x: auto;
    // tr{
    //   th,td{
    //     width: 5rem;
    //   }
    // }
  }
  .general-dropdown .dropdown-menu.show {
    top: 1rem !important;
  }
}
::-webkit-scrollbar-thumb {
  background: #ccc !important;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: var(--bg-white-color) !important;
}
.dropdown-toggle::after {
  display: none;
}
// .dropdown-toggle:before{
//   position: absolute;
//   content: '';
//   bottom: -9px;
//   left: 50%;
//   transform: translate(-50%, 0px);
//   border-radius: 2px;
//   border-left: 9px solid transparent;
//       border-right: 9px solid transparent;
//       border-top: 9px solid #f8f9fa;
//       clear: both;
// }
.dropdown-menu{
  width: 340px;
}
.link{
  direction: ltr;
}
.link:focus{
  border: 0 !important;
}
