<div class="login p-5 d-flex justify-content-center text-center position-relative min-vh-100 padding-small-0">
  <div class="container-fluid bg-form-login d-flex justify-content-center align-items-center">
    <div class="form-box position-relative m-auto w-100">
      <div class="content">

        <h2 class="text-center fs-1 fw-bold text-second-color d-flex align-items-center justify-content-center py-3">
          <img class="logo scaleX-rtl me-1" src="assets/imgs/logo.svg" alt="logo" /> XDash
        </h2>

        <div class="row  d-flex justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12">
            <form [formGroup]="confirmPasswordForm" (ngSubmit)="onSubmit()"
              class="form-content bg-white-color shad rounded p-4 p-xl-5 p-md-4 p-sm-3 p-3">

              <div class="my-3">
                <label for="password" class="form-label d-block text-start">
                  Current Password
                </label>
                <div class="input-group">
                  <input matInput [type]="hide ? 'password' : 'text'" type="password" class="border-r form-control"
                    id="password" formControlName="currentPassword" name="currentPassword"
                    [class.is-invalid]="confirmPasswordFormControls['currentPassword']?.touched && confirmPasswordFormControls['currentPassword']?.invalid"
                    [class.is-valid]="confirmPasswordFormControls['currentPassword']?.valid && confirmPasswordFormControls['currentPassword']?.touched">
                  <span class="input-group-text border-l bg-white-color"
                    [class.is-invalid]="confirmPasswordFormControls['currentPassword']?.touched && confirmPasswordFormControls['currentPassword']?.invalid"
                    [class.is-valid]="confirmPasswordFormControls['currentPassword']?.valid && confirmPasswordFormControls['currentPassword']?.touched">
                    <mat-icon class="text-muted-color fs-5" (click)="hide = !hide">{{hide ? 'visibility_off' :
                      'visibility'}}</mat-icon>
                  </span>
                </div>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label d-block text-start">
                  New Password
                </label>
                <div class="input-group">
                  <input matInput [type]="hide ? 'password' : 'text'" type="password" class="border-r form-control"
                    id="password" formControlName="password" name="password"
                    [class.is-invalid]="confirmPasswordFormControls['password']?.touched && confirmPasswordFormControls['password']?.invalid"
                    [class.is-valid]="confirmPasswordFormControls['password']?.valid && confirmPasswordFormControls['password']?.touched">
                  <span class="input-group-text border-l bg-white-color"
                    [class.is-invalid]="confirmPasswordFormControls['password']?.touched && confirmPasswordFormControls['password']?.invalid"
                    [class.is-valid]="confirmPasswordFormControls['password']?.valid && confirmPasswordFormControls['password']?.touched">
                    <mat-icon class="text-muted-color fs-5" (click)="hide = !hide">{{hide ? 'visibility_off' :
                      'visibility'}}</mat-icon>
                  </span>
                </div>
              </div>

              <div class="mb-3">
                <label for="confirmPassword" class="form-label d-block text-start">
                  Confirm Password
                </label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                  name="confirmPassword"
                  [class.is-invalid]="confirmPasswordFormControls['confirmPassword']?.touched && confirmPasswordFormControls['confirmPassword']?.invalid"
                  [class.is-valid]="confirmPasswordFormControls['confirmPassword']?.valid && confirmPasswordFormControls['confirmPassword']?.touched">
                <div *ngIf="confirmPasswordFormControls['confirmPassword']?.errors?.['ConfirmPassword']"
                  class="form-text d-block text-start text-danger ml-2">
                  pasword wrong
                </div>
              </div>

              <button [disabled]="confirmPasswordForm?.invalid" type="submit" class="btn btn-solid-main w-100">
                Confirm
                <div id="spinner" *ngIf="isLoadingBtn"></div>
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
